

.forget-psswrd-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.forget-psswrd-form{
    height: 430px;
    width: 350px;
    padding: 23px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(177, 168, 168, 0.623);
}
.forget-psswrd-form h5{
    margin-top: 70px;
    color: #daa106;
}

.forget-psswrd-form input{
    margin-top: 40px;
}
.forget-psswrd-form p{
    color: rgba(0, 0, 0, 0.61);
    font-size: 13px;
}
.sign-in{
    margin-top: 20px;
}

.send-otp-btn button{
    margin-top: 10px;
    width: 110px;
    border-radius: 20px;
    padding: 6px;
    background: #daa106;
    border: none;
    color: white;
    font-weight: 600;
}
.send-otp-btn button:hover{
    color: #daa106;
    font-weight: bold; 
    background-color: rgba(250, 235, 215, 0.959); 
}



/* media querry for screens that are 576px or less */
@media screen and (max-width: 576px) {
    .forget-psswrd-form{
        height: 430px;
        width: 280px;
    }    
    
}